ion-input{
    border: 3px solid #202020;
    border-radius: 5px;
    height: 35px;
}

.label-md {
    margin: 13px 8px 8px 8px;
    font-size: 18px;
}

.text-input-md {
    margin: 5px 8px;
}

.cal.button-md{
    width: 100%;
    text-align: center;
    background-color: #e6007e;
    border-radius: 20px;
}

img{
    height: 50px;
}
